%disposicion{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

%navegador{
    color: $bg-ppl;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    
    
}

%titulosite{
    color: $bg-ppl;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    
}


%titulo1{
    color: $bg-ppl;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    
}

%titulo2{
    color: $bg-ppl;
    text-align: left;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;   

}

%titulo3{
    color:$bg-ppl;
    text-align: center;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

%titulo4{
    color:$bg-ppl;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    
}

%titulo5{
    color:$bg-ppl;
    text-align: left;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
/* para llamar en una .clase @extend %disposicion y te trae todas las propiedades. min 1:21 sass*/