/* podes mezclar diferentes valores llamas con map-get parentesis pones titulo y valor al lado min 1:04 sass y lo llamo desde xej index*/


$piedepagina: (
    fondo: rgb(6, 6, 6),
    tamanio: 1440px 50px,
    margenarriba: 50px,
    relleno: 10px,
    

);
