/*Colores en rgb */
$bg-ppl: rgb(0, 0, 0);
$bg-sec: rgb(255, 255, 255);

/*Tamanos en px */

$tam-10: 10px;
$tam-20: 20px;
$tam-30: 30px;
$tam-40: 40px;
$tam-50: 50px;


/*tipografía debería agregar*/
/*font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;*/
