

.form-label-m{
    font-family: 'Poppins', sans-serif;
}

.card-m {
    margin: 2rem;
    padding: 2rem;
}

.btn-primary-m{
    background-color: $bg-ppl;
    color: $bg-sec;
    margin: $tam-10;
    border-color: $bg-ppl;
    font-family:'Poppins', sans-serif;
    
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:focus-visible, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: $bg-sec;
    background-color: grey;
    border-color: $bg-ppl; 
    
}

.btn-primary:active {
    background-color: black !important;
}