.header_index{
    @extend %navegador;
    
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.carousel-m{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    border-color: black;
}
.destacado{
    text-decoration: underline;
}

.carousel_vertical_m{ 
    @include desktop{
        display: none;    
    }
        

 }
    

.carousel_horizontal_m{
    @include mobile{
        display: none;
    }
        

    }
