.header_index{
    @extend %navegador;
    
}

.titulo-index{
   @extend %titulo1;
   margin-left: 2rem;
   margin-right: 2rem;
}

.carousel-m{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    border-color: black;
}
.destacado{
    text-decoration: underline;
}

.carousel_vertical_m{ 
    @include desktop {
        display: none; 
       
    }
        
}
        


.carousel_horizontal_m{
    @include mobile{ 
        display: none;
       
    }
        
    }
        

    
