
/*componentes varios*/

/*scroll*/
.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 500px;
    white-space:nowrap;
}

/*componentes sobremi*/

.sobremi{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: $tam-50;
    font-size: x-small;
}

#imagensobremi{
    size: 1000px;
    margin: 0px 50px 50px 30px;
}

.sobremip{
    width: 100%;
    text-align: left;
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
}

.sobremi-inspiracion{
    width:100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-top: 6rem;
    padding: 1rem;
    border-radius: 20px;
}

.video-m{
    position: center;
}

.titulo3{
    @extend %titulo3;
}

/*boton shop*/

.shop_boton{
    display: inline-block;
    background-position-x: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: $tam-20;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    padding: 5px 10px;
}

.imageDiv img {
    box-shadow: 1px 1px 10px #000000;
    margin: 20px;
    max-height: 500px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
 }

 .objetos{
    padding: $tam-10;
    margin: 1rem;
    align-items: center;
    border-image:repeat;
    border-color: #000000;
    border-radius: 2px;
    box-shadow: 0 0 5px 2px rgba(50,50,50, 0.25);
    
 }

 .flechas-obras{
    display:flex;
    justify-content:center;
    margin-bottom: 4rem;
    
 }

 .flecha-individual{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
 }
 
    
 .img-fluid-m{
    width: 98%;
 }

 #main_muestras{
    display: inline-block;
    padding: 100px;
    position: center;
    margin-left: 100px;
    margin-right: 100px;
}



main ul img{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-m {
    background-color: black;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.buttonshop-m{
    width: 14rem;
    margin-left: 5rem;
}

.titulouno{
    @extend %titulo1;
 }

 .titulodos{
    @extend %titulo2;
 }

.titulotres{
   @extend %titulo3;
}

.titulocuatro{
    @extend %titulo4;
    
}

.titulocinco{
    @extend %titulo5;
    margin-left: 2rem;
}

.carrito_items{
    @extend %disposicion;
    padding: 2rem;
}


.mapa{
    margin: 1rem;
}